.Wrapper {
    display: flex;
    padding: 20px;
}
.Item {
    padding: 30px;
    width: 50%;
}
.Item:first-child {
    background-color: rgb(250, 246, 246);
}
.Item img {
    box-shadow: 4px 4px 12px 6px rgba(34, 60, 80, 0.2);
    width: 300px;
    display: block;
    margin: 0 auto;
}
.Description {
    border: 1px solid #ccc;
    padding: 10px;
}

p u {
    color: rgb(184, 182, 182);
}