.BooksList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.BooksList-container {
  margin-top: 15px;
  width: calc(32% - 0px);
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
}
.Books-counter img {
  left: 50%;
}
.BooksList-container:hover {
  cursor: pointer;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  transition: box-shadow .2s ease-out;
}
.Container-body {
  flex: 1 1 auto;
}
.BooksList-container img {
  border: 1px solid #ccc;
  margin: 0 auto;
  height: 182px;
}
.BooksList-container p {
  margin-left: 7px;
}
.BooksList button {
  position: relative;
  margin-bottom: 10px;
}
.Books-counter {
  width: 100vw;
  text-align: center;
}
.Paginate-button {
  position: relative;
  margin-top: 35px; 
  margin-bottom: 40px;
  left: 46%;
}

  
@media screen and (max-width: 1366px) {
  .BooksList-container {
    width: calc(32% - 0px);
  }
}
@media screen and (max-width: 1024px) {
  .BooksList-container {
    width: calc(48% - 0px);
  }
}
@media screen and (max-width: 375px) {
  .BooksList-container {
    width: calc(95% - 0px);
  }
}